---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px #efefef solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        img {
            max-width: 400px;
            box-shadow: 3px 3px 6px #888;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
        
        // 减小段落间距
        p {
            margin: 0.2em 0;
            line-height: 1.5;
            border: none !important;
            border-top: none !important;
            border-bottom: none !important;
        }
        
        // 减小链接之间的间距（当链接在同一段落时）
        p a {
            margin: 0 0.05em;
            
            &:first-child {
                margin-left: 0;
            }
        }
        
        // 处理链接之间的文本（如 | 符号）的间距
        p {
            // 减小链接和分隔符之间的间距
            a + *:not(a),
            *:not(a) + a {
                margin-left: 0.1em;
                margin-right: 0.1em;
            }
        }
        
        // 去除分割线（hr 标签）- 完全隐藏
        hr {
            display: none !important;
            margin: 0 !important;
            padding: 0 !important;
            border: none !important;
            border-top: none !important;
            border-bottom: none !important;
            height: 0 !important;
            visibility: hidden !important;
            opacity: 0 !important;
        }
        
        // 去除段落之间的边框和分割线
        p {
            border-top: none !important;
            border-bottom: none !important;
        }
        
        // 去除链接段落和介绍段落之间的额外间距和分割线
        p + p {
            margin-top: 0.3em;
            padding-top: 0;
            border-top: none !important;
            border-bottom: none !important;
        }
        
        // 特别处理包含链接的段落，去除底部边框
        p:has(a) {
            border-bottom: none !important;
            margin-bottom: 0.3em;
        }
        
        // 如果段落只包含链接，减小底部间距
        p:only-child,
        p:last-child {
            margin-bottom: 0.2em;
        }
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: #00369f;
    font-size: .8em;
}